*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  background: linear-gradient(purple, yellow);
  align-items: center;
  /* width: auto; */
}


:root{
--background-color: rgb(206, 199, 199);
--text-color: rgb(149, 148, 148);
--hover-color: rgb(13, 158, 255);
--second--text-color: #000000;
}


@media screen and (max-width:768px){
  body{
    height: 140vh;
  };
}