.second{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    font-size: 1rem;
}

.second-para{
    font-size: 1.4rem;
    color: var(--second--text-color);
    margin-left: -4rem;
}

@media screen and (max-width:1024px){
    .second-para{
        margin-left: 0;
    }
}